In [36]:
from pandas import DataFrame

In [7]:
connection_type_table = DataFrame([
    ['Household', 100],
    ['Hospital', 1000],
], columns=['connection_type', 'consumption_in_kwh_per_year'])
connection_type_table

  connection_type  consumption_in_kwh_per_year
0       Household                          100
1        Hospital                         1000

In [39]:
connection_type_table['connection_type'].apply(lambda x: x.upper())

0    HOUSEHOLD
1     HOSPITAL
Name: connection_type, dtype: object

In [38]:
t = connection_type_table.set_index('connection_type')
t

                 consumption_in_kwh_per_year
connection_type
Household                                100
Hospital                                1000

In [39]:
consumption_by_connection_type = t['consumption_in_kwh_per_year'].to_dict()
consumption_by_connection_type

{'Hospital': 1000, 'Household': 100}

In [10]:
demand_point_table = DataFrame([
    ['Village A', 50, 2],
    ['Village B', 15, 1],
], columns=[
    'name',
    'household_count',
    'hospital_count',
])
demand_point_table

        name  household_count  hospital_count
0  Village A               50               2
1  Village B               15               1

In [11]:
demand_point_table.columns

Index([u'name', u'household_count', u'hospital_count'], dtype='object')

In [12]:
# It should be the other way around
"""
consumption_in_kwh_per_year = 0
for column_name in demand_point_table.columns:
    connection_type = column_name.replace('_count', '')
    if connection_type not in consumption_by_connection_type:
        continue
    consumption_per_connection = consumption_by_connection_type[connection_type] 
""";

In [13]:
keywords = dict(demand_point_table.iterrows().next()[1])
keywords

{'hospital_count': 2, 'household_count': 50, 'name': 'Village A'}

In [15]:
total_consumption_in_kwh_per_year = 0
total_connection_count = 0
for row_index, row in connection_type_table.iterrows():
    connection_type = row['connection_type'].lower()
    try:
        connection_count = keywords[connection_type + '_count']
    except KeyError:
        continue
    consumption_per_connection = row['consumption_in_kwh_per_year']
    total_consumption_in_kwh_per_year += consumption_per_connection * connection_count
    total_connection_count += connection_count
print(total_consumption_in_kwh_per_year)
print(total_connection_count)

7000
52

In [ ]:
"""
estimate_consumption_from_connection_type
    population_by_year,
    number_of_people_per_household,
    connection_type_table,
    **keywords
"""

In [2]:
from pandas import DataFrame, Series

In [6]:
population_by_year = Series({
    2016: 301.0,
    2017: 331.10000000000002,
    2018: 364.21000000000004,
    2019: 400.63100000000014,
    2020: 440.69410000000011,
    2021: 484.76351000000017,
    2022: 533.23986100000025,
    2023: 586.56384710000032,
    2024: 645.22023181000043,
    2025: 709.74225499100055,
    2026: 780.71648049010071,
})
population_by_year

2016    301.000000
2017    331.100000
2018    364.210000
2019    400.631000
2020    440.694100
2021    484.763510
2022    533.239861
2023    586.563847
2024    645.220232
2025    709.742255
2026    780.716480
dtype: float64

In [9]:
number_of_people_per_household = 5
connection_type_table

  connection_type  consumption_in_kwh_per_year
0       Household                          100
1        Hospital                         1000

In [16]:
population_by_year

2016    301.000000
2017    331.100000
2018    364.210000
2019    400.631000
2020    440.694100
2021    484.763510
2022    533.239861
2023    586.563847
2024    645.220232
2025    709.742255
2026    780.716480
dtype: float64

In [17]:
population_by_year + 100

2016    401.000000
2017    431.100000
2018    464.210000
2019    500.631000
2020    540.694100
2021    584.763510
2022    633.239861
2023    686.563847
2024    745.220232
2025    809.742255
2026    880.716480
dtype: float64

In [22]:
100 + population_by_year

2016    401.000000
2017    431.100000
2018    464.210000
2019    500.631000
2020    540.694100
2021    584.763510
2022    633.239861
2023    686.563847
2024    745.220232
2025    809.742255
2026    880.716480
dtype: float64

In [19]:
max(100)

TypeError: 'int' object is not iterable

AttributeError: can't set attribute

In [26]:
keywords = {'hospital_count': 2, 'name': 'Village A'}

In [33]:
Series(0, index=xrange(10)) + 10

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64

In [32]:
Series(index=xrange(10)) + 10

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64

In [35]:
connection_count_by_year = Series(0, index=population_by_year.index)
consumption_by_year = Series(0, index=population_by_year.index)
for row_index, row in connection_type_table.iterrows():
    connection_type = row['connection_type'].lower()  # this should happen earlier during normalization
    try:
        connection_count = keywords[connection_type + '_count']
    except KeyError:
        if connection_type != 'household':
            continue
        connection_count = population_by_year / float(number_of_people_per_household)
    consumption_per_connection = row['consumption_in_kwh_per_year']
    consumption_by_year += consumption_per_connection * connection_count
    connection_count_by_year += connection_count
print(consumption_by_year)
print(connection_count_by_year)

2016     8020.000000
2017     8622.000000
2018     9284.200000
2019    10012.620000
2020    10813.882000
2021    11695.270200
2022    12664.797220
2023    13731.276942
2024    14904.404636
2025    16194.845100
2026    17614.329610
dtype: float64
2016     62.200000
2017     68.220000
2018     74.842000
2019     82.126200
2020     90.138820
2021     98.952702
2022    108.647972
2023    119.312769
2024    131.044046
2025    143.948451
2026    158.143296
dtype: float64

In [23]:
keywords

{'hospital_count': 2, 'household_count': 50, 'name': 'Village A'}

In [ ]:
connection_count_by_year =

In [ ]:
consumption_in_kwh_by_year

In [28]:
number_of_people_per_connection = 5
consumption_in_kwh_per_year_per_connection = 100
connection_count_by_year = population_by_year / float(number_of_people_per_connection)
print(connection_count_by_year)
consumption_in_kwh_by_year = consumption_in_kwh_per_year_per_connection * connection_count_by_year
print(consumption_in_kwh_by_year)

2016     60.200000
2017     66.220000
2018     72.842000
2019     80.126200
2020     88.138820
2021     96.952702
2022    106.647972
2023    117.312769
2024    129.044046
2025    141.948451
2026    156.143296
dtype: float64
2016     6020.000000
2017     6622.000000
2018     7284.200000
2019     8012.620000
2020     8813.882000
2021     9695.270200
2022    10664.797220
2023    11731.276942
2024    12904.404636
2025    14194.845100
2026    15614.329610
dtype: float64