In [36]:
from pandas import DataFrame

In [37]:
connection_type_table = DataFrame([
    ['Household', 100],
    ['Hospital', 1000],
], columns=['connection_type', 'consumption_in_kwh_per_year'])
connection_type_table

  connection_type  consumption_in_kwh_per_year
0       Household                          100
1        Hospital                         1000

In [38]:
t = connection_type_table.set_index('connection_type')
t

                 consumption_in_kwh_per_year
connection_type
Household                                100
Hospital                                1000

In [39]:
consumption_by_connection_type = t['consumption_in_kwh_per_year'].to_dict()
consumption_by_connection_type

{'Hospital': 1000, 'Household': 100}

In [40]:
demand_point_table = DataFrame([
    ['Village A', 50, 2],
    ['Village B', 15, 1],
], columns=[
    'name',
    'household_count',
    'hospital_count',
])
demand_point_table

        name  household_count  hospital_count
0  Village A               50               2
1  Village B               15               1

In [41]:
demand_point_table.columns

Index([u'name', u'household_count', u'hospital_count'], dtype='object')

In [44]:
# It should be the other way around
"""
consumption_in_kwh_per_year = 0
for column_name in demand_point_table.columns:
    connection_type = column_name.replace('_count', '')
    if connection_type not in consumption_by_connection_type:
        continue
    consumption_per_connection = consumption_by_connection_type[connection_type] 
""";

In [45]:
keywords = dict(demand_point_table.iterrows().next()[1])
keywords

{'hospital_count': 2, 'household_count': 50, 'name': 'Village A'}

In [48]:
total_consumption_in_kwh_per_year = 0
total_connection_count = 0
for row_index, row in connection_type_table.iterrows():
    connection_type = row['connection_type'].lower()
    try:
        connection_count = keywords[connection_type + '_count']
    except KeyError:
        continue
    consumption_per_connection = row['consumption_in_kwh_per_year']
    total_consumption_in_kwh_per_year += consumption_per_connection * connection_count
    total_connection_count += connection_count
print(consumption_in_kwh_per_year)
print(total_connection_count)

7000
52