In [16]:
from dateutil.parser import parse as parse_date

In [17]:
parse_date('2000')

datetime.datetime(2000, 2, 15, 0, 0)

In [3]:
year_value_packs = [
    (2000, -50),
    (2001, -100),
    (2002, -200),
    (2003, -100),
    (2004, 0),
    (2005, 500),
    (2006, 1000),
]

In [9]:
interest_rate_percent = 10
interest_rate_factor = 1 + interest_rate_percent / 100.
interest_rate_factor

1.1

In [7]:
%timeit 100 / 10.
%timeit 100 / float(10)

10000000 loops, best of 3: 52.3 ns per loop
The slowest run took 56.40 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 161 ns per loop

In [11]:
%timeit 10 ** 3
%timeit pow(10, 3)

The slowest run took 63.24 times longer than the fastest. This could mean that an intermediate result is being cached.
100000000 loops, best of 3: 18.8 ns per loop
10000000 loops, best of 3: 124 ns per loop

In [13]:
values = [x[1] for x in year_value_packs]
values

[-50, -100, -200, -100, 0, 500, 1000]

In [15]:
sum(value / interest_rate_factor ** index for index, value in enumerate(values))

493.60476438575887

In [ ]:
# It doesn't have to be in years

In [36]:
from pandas import DataFrame
time_value_table = DataFrame([
    ('6/2012', -100),
    ('7/2000', 500),
    ('8/2010', -100),
    ('9/2005', 0),
    ('10/2009', -50),
    ('11/2004', -200),
    ('12/2007', 1000),
], columns=['Time', 'Value'])
time_value_table

      Time  Value
0   6/2012   -100
1   7/2000    500
2   8/2010   -100
3   9/2005      0
4  10/2009    -50
5  11/2004   -200
6  12/2007   1000

In [21]:
time_value_table['Value'].values

array([ -50, -100, -200, -100,    0,  500, 1000])

In [24]:
time_value_table.sort(['Time', 'Value'])

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   Time  Value
4  2000    -50
0  2001   -100
5  2002   -200
2  2003   -100
3  2004      0
1  2005    500
6  2006   1000

In [27]:
from dateutil.parser import parse as parse_date

In [29]:
parse_date('5p')

datetime.datetime(2016, 2, 15, 17, 0)

In [38]:
time_value_packs = time_value_table[['Time', 'Value']].values
time_value_packs

array([['6/2012', -100],
       ['7/2000', 500],
       ['8/2010', -100],
       ['9/2005', 0],
       ['10/2009', -50],
       ['11/2004', -200],
       ['12/2007', 1000]], dtype=object)

In [63]:
zs = sorted(time_value_packs, key=lambda x: parse_date(str(x[0])))
zs

[array(['7/2000', 500], dtype=object),
 array(['11/2004', -200], dtype=object),
 array(['9/2005', 0], dtype=object),
 array(['12/2007', 1000], dtype=object),
 array(['10/2009', -50], dtype=object),
 array(['8/2010', -100], dtype=object),
 array(['6/2012', -100], dtype=object)]

In [64]:
[z[1] for z in zs]

[500, -200, 0, 1000, -50, -100, -100]

In [44]:
time_value_table['Time'].min()

'10/2009'

In [45]:
xs = range(10)
xs

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
range(10)[1:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
len(range(10))

10

In [51]:
range(10)[:0]

[]

In [55]:
range(1, 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
range(100)[1:9]

[1, 2, 3, 4, 5, 6, 7, 8]

In [58]:
range(1, 11)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for end_index in xrange(1, len(time_value_packs)):
    print time_value_packs

In [60]:
xs = 'apple'
for end_index in xrange(1, len(xs) + 1):
    print end_index, xs[:end_index]

1 a
2 ap
3 app
4 appl
5 apple

In [62]:
xs[1]

'p'