In [1]:
from pandas import Series
consumption_in_kwh_by_year = Series([100, 200, 300], index=[2000, 2002, 2004])
consumption_in_kwh_by_year

2000    100
2002    200
2004    300
dtype: int64

In [4]:
from pandas import DataFrame

In [9]:
t = DataFrame({'c': consumption_in_kwh_by_year, 'd': [150, 150, 150]})
t

        c    d
2000  100  150
2002  200  150
2004  300  150

In [11]:
t.max(axis=1)

2000    150
2002    200
2004    300
dtype: int64

In [12]:
[150] * 3

[150, 150, 150]

In [14]:
import numpy as np
np.ones(5)

array([ 1.,  1.,  1.,  1.,  1.])

In [15]:
np.ones?