In [ ]:
# Implement function that takes consumption, computes peak demand, fits capacity
# We should do this based on the highest projected consumption.

In [2]:
# Levelized cost
from pandas import DataFrame
consumption_by_year_table = DataFrame([
    [2020, 10000],
    [2021, 50000],
    [2022, 99999],
    [2023, 99999],
    [2024, 99999],
], columns=[
    'Year', 'Consumption (kWh)',
])

In [3]:
# Get the peak consumption from the consumption_by_year_table
# Compute peak demand using old formula
# Fit capacity using multiples of the largest available capacity

In [5]:
consumption_column = 'Consumption (kWh)'
consumption_by_year_table[consumption_column].max()

99999

In [8]:
maximum_consumption_per_year = consumption_by_year_table[consumption_column].max()

In [ ]:
# Assume that most electricity consumption happens during peak hours
# Then maximum_consumption_per_year / peak_hours_per_year is approximately the amount of electricity consumed per peak hour
# demand as fraction of consumption per peak hour

In [9]:
peak_hours_per_year = 1460

In [11]:
maximum_consumption_per_peak_hour = maximum_consumption_per_year / peak_hours_per_year
maximum_consumption_per_peak_hour # in kWh

68

In [12]:
peak_demand_as_fraction_of_maximum_consumption_per_peak_hour = 0.4

In [13]:
peak_demand = peak_demand_as_fraction_of_maximum_consumption_per_peak_hour * maximum_consumption_per_peak_hour
peak_demand # kW

27.200000000000003

In [15]:
1 - distribution_loss_percent / 100.

0.85

In [14]:
# that will serve the entire village
distribution_loss_percent = 15
desired_system_capacity = peak_demand / float(1 - distribution_loss_percent / 100.)
desired_system_capacity

32.00000000000001

In [ ]:
1000 900 800 700 600 500 400 300 200 100 90 80 70 60 50 40 30 20 15 5

In [73]:
from pandas import DataFrame
transformer_table = DataFrame([
    [1000, 50000, 2, 2, 5000, 60000, 2, 10, 500, 50000, 3, 3, 7500],
    [ 500, 20000, 1, 1, 1000, 30000, 1, 10, 100, 20000, 1, 1, 1500],
], columns=[
    'Capacity in Kilowatts',
    
    'Installation Worker Salary in Dollars per Year',
    'Installation Worker Count',
    'Installation Time in Years',
    'Installation Material Cost in Dollars',
    
    'Maintenance Worker Salary in Dollars per Year',
    'Maintenance Worker Count',
    'Maintenance Time in Years',
    'Maintenance Material Cost in Dollars per Year',

    'Replacement Worker Salary in Dollars per Year',
    'Replacement Worker Count',
    'Replacement Time in Years',
    'Replacement Material Cost in Dollars',
])
transformer_table

,Capacity in Kilowatts,Installation Worker Salary in Dollars per Year,Installation Worker Count,Installation Time in Years,Installation Material Cost in Dollars,Maintenance Worker Salary in Dollars per Year,Maintenance Worker Count,Maintenance Time in Years,Maintenance Material Cost in Dollars per Year,Replacement Worker Salary in Dollars per Year,Replacement Worker Count,Replacement Time in Years,Replacement Material Cost in Dollars
0,1000,50000,2,2,5000,60000,2,10,500,50000,3,3,7500
1,500,20000,1,1,1000,30000,1,10,100,20000,1,1,1500

In [74]:
low_voltage_transformer_installation_worker_salary = 50000
low_voltage_transformer_maintenance_worker_salary = 60000
low_voltage_transformer_replacement_worker_salary = 50000

In [75]:
eligible_transformer_table = low_voltage_transformer_table[
    low_voltage_transformer_table[
        'Capacity in Kilowatts'] < desired_system_capacity]
eligible_transformer_table

Empty DataFrame
Columns: [Capacity in Kilowatts, Installation Worker Salary, Installation Worker Count, Installation Time in Years, Installation Material Cost in Dollars, Maintenance Worker Salary, Maintenance Worker Count, Maintenance Time in Years, Maintenance Material Cost in Dollars Per Year, Replacement Worker Salary, Replacement Worker Count, Replacement Time in Years, Replacement Material Cost in Dollars]
Index: []

In [76]:
low_voltage_transformer_table[
    low_voltage_transformer_table[
        'Capacity in Kilowatts'
    ] == low_voltage_transformer_table[
        'Capacity in Kilowatts'
    ].min()]

,Capacity in Kilowatts,Installation Worker Salary,Installation Worker Count,Installation Time in Years,Installation Material Cost in Dollars,Maintenance Worker Salary,Maintenance Worker Count,Maintenance Time in Years,Maintenance Material Cost in Dollars Per Year,Replacement Worker Salary,Replacement Worker Count,Replacement Time in Years,Replacement Material Cost in Dollars
1,500,20000,1,1,1000,30000,1,10,100,20000,1,1,1500

In [98]:
# Choose largest capacity from available system capacities that is less than the desired capacity
if len(eligible_transformer_table):
    selected_transformer_table = eligible_transformer_table[
        eligible_transformer_table[
            'Capacity in Kilowatts'
        ] == eligible_transformer_table[
            'Capacity in Kilowatts'
        ].max()]
else:
    selected_transformer_table = transformer_table[
        transformer_table[
            'Capacity in Kilowatts'
        ] == transformer_table[
            'Capacity in Kilowatts'
        ].min()]    
selected_transformer = selected_transformer_table.ix[selected_transformer_table.index[0]]
selected_transformer

Capacity in Kilowatts                               500
Installation Worker Salary in Dollars per Year    20000
Installation Worker Count                             1
Installation Time in Years                            1
Installation Material Cost in Dollars              1000
Maintenance Worker Salary in Dollars per Year     30000
Maintenance Worker Count                              1
Maintenance Time in Years                            10
Maintenance Material Cost in Dollars per Year       100
Replacement Worker Salary in Dollars per Year     20000
Replacement Worker Count                              1
Replacement Time in Years                             1
Replacement Material Cost in Dollars               1500
Name: 1, dtype: int64

In [51]:
selected_transformer_capacity = selected_transformer_table['Capacity in Kilowatts'].values[0]
selected_transformer_capacity

500

In [52]:
from math import ceil
ceil(0.3)

1.0

In [54]:
selected_transformer_count = int(ceil(
    desired_system_capacity / float(selected_transformer_capacity)))
selected_transformer_count

1

In [57]:
print("""
get multiple of that to compute actual
output multiple
output desired
output actual
output peak demand
""")

get multiple of that to compute actual
output multiple
output desired
output actual
output peak demand

In [61]:
prefix = 'Low Voltage Transformer'

In [62]:
consumption_by_year_table.drop_duplicates('Year', inplace=True)
year_count = len(consumption_by_year_table)
year_count

5

In [63]:
year_count = 30  # Length of consumption table after dropping duplicates

In [78]:
t = selected_transformer_table
t

,Capacity in Kilowatts,Installation Worker Salary in Dollars per Year,Installation Worker Count,Installation Time in Years,Installation Material Cost in Dollars,Maintenance Worker Salary in Dollars per Year,Maintenance Worker Count,Maintenance Time in Years,Maintenance Material Cost in Dollars per Year,Replacement Worker Salary in Dollars per Year,Replacement Worker Count,Replacement Time in Years,Replacement Material Cost in Dollars
1,500,20000,1,1,1000,30000,1,10,100,20000,1,1,1500

In [90]:
[
    capacity_column,
    installation_worker_salary_column,
    installation_worker_count_column,
    installation_time_column,
    installation_material_cost_column,
    maintenance_worker_salary_column,
    maintenance_worker_count_column,
    maintenance_time_column,
    maintenance_material_cost_column,
    replacement_worker_salary_column,
    replacement_worker_count_column,
    replacement_time_column,
    replacement_material_cost_column,
] = [
    'Capacity in Kilowatts',

    'Installation Worker Salary in Dollars per Year',
    'Installation Worker Count',
    'Installation Time in Years',
    'Installation Material Cost in Dollars',

    'Maintenance Worker Salary in Dollars per Year',
    'Maintenance Worker Count',
    'Maintenance Time in Years',
    'Maintenance Material Cost in Dollars per Year',

    'Replacement Worker Salary in Dollars per Year',
    'Replacement Worker Count',
    'Replacement Time in Years',
    'Replacement Material Cost in Dollars',        
]

In [88]:
installation_labor_cost_in_dollars_per_year = (t[
    installation_worker_salary_column] * t[
    installation_worker_count_column]).values[0]
installation_material_cost_in_dollars = t[
    installation_material_cost_column].values[0]
installation_time_in_years = t[
    installation_time_column].values[0]

In [92]:
maintenance_labor_cost_in_dollars_per_year = (t[
    maintenance_worker_salary_column] * t[
    maintenance_worker_count_column]).values[0]
maintenance_material_cost_in_dollars_per_year = t[
    maintenance_material_cost_column].values[0]
maintenance_time_in_years = t[
    maintenance_time_column].values[0]

In [96]:
t.ix[t.index[0]]

Capacity in Kilowatts                               500
Installation Worker Salary in Dollars per Year    20000
Installation Worker Count                             1
Installation Time in Years                            1
Installation Material Cost in Dollars              1000
Maintenance Worker Salary in Dollars per Year     30000
Maintenance Worker Count                              1
Maintenance Time in Years                            10
Maintenance Material Cost in Dollars per Year       100
Replacement Worker Salary in Dollars per Year     20000
Replacement Worker Count                              1
Replacement Time in Years                             1
Replacement Material Cost in Dollars               1500
Name: 1, dtype: int64

In [99]:
def get_labor_material_time(d, worker_salary_column, worker_count_column, material_cost_column, time_column):
    worker_salary = d[worker_salary_column]
    worker_count = d[worker_count_column]
    labor_cost_per_year = worker_salary * worker_count
    material_cost_per_year = d[material_cost_column]
    year_count = d[time_column]
    return [labor_cost_per_year, material_cost_per_year, year_count]

get_labor_material_time(
    selected_transformer,
    installation_worker_salary_column,
    installation_worker_count_column,
    installation_material_cost_column,
    installation_time_column)

[20000, 1000, 1]

In [ ]:
replacement_labor_cost_in_dollars_per_year
replacement_material_cost_in_dollars
replacement_time_in_years

In [ ]:
import numpy as np

def get_cost_breakdown_table(
        prefix,
        year_count,
        installation_labor_cost_in_dollars_per_year,
        installation_material_cost_in_dollars,
        installation_time_in_years,
        maintenance_labor_cost_in_dollars_per_year,
        maintenance_material_cost_in_dollars_per_year,
        maintenance_time_in_years,
        replacement_labor_cost_in_dollars_per_year,
        replacement_material_cost_in_dollars,
        replacement_time_in_years):

    installation_labor_costs = np.zeros(year_count)
    installation_labor_costs[:installation_time_in_years] = installation_labor_cost_in_dollars_per_year

    installation_material_costs = np.zeros(year_count)
    installation_material_costs[0] = installation_material_cost_in_dollars

    maintenance_labor_costs = np.zeros(year_count)
    maintenance_labor_costs[installation_time_in_years:] = maintenance_labor_cost_in_dollars_per_year

    maintenance_material_costs = np.zeros(year_count)
    maintenance_material_costs[installation_time_in_years:] = maintenance_material_cost_in_dollars_per_year

    replacement_labor_costs = np.zeros(year_count)
    index1 = installation_time_in_years + maintenance_time_in_years
    index2 = index1 + replacement_time_in_years
    while index1 < year_count:
        replacement_labor_costs[index1:index2] = replacement_labor_cost_in_dollars_per_year
        index1 = index2 + maintenance_time_in_years
        index2 = index1 + replacement_time_in_years

    replacement_material_costs = np.zeros(year_count)
    index1 = installation_time_in_years + maintenance_time_in_years
    while index1 < year_count:
        replacement_material_costs[index1] = replacement_material_cost_in_dollars
        index1 += maintenance_time_in_years + replacement_time_in_years
    replacement_material_costs

    return DataFrame({
        prefix + ' Installation Labor Cost ($)': installation_labor_costs,
        prefix + ' Installation Material Cost ($)': installation_material_costs,
        prefix + ' Maintenance Labor Cost ($)': maintenance_labor_costs,
        prefix + ' Maintenance Material Cost ($)': maintenance_material_costs,
        prefix + ' Replacement Labor Cost ($)': replacement_labor_costs,
        prefix + ' Replacement Material Cost ($)': replacement_material_costs,
    })

get_cost_breakdown_table(
    prefix='LV Transformer',
    year_count=30,
    installation_labor_cost_in_dollars_per_year=500000,
    installation_material_cost_in_dollars=100000,
    installation_time_in_years=2,
    maintenance_labor_cost_in_dollars_per_year=50000,
    maintenance_material_cost_in_dollars_per_year=1000,
    maintenance_time_in_years=5,
    replacement_labor_cost_in_dollars_per_year=50000,
    replacement_material_cost_in_dollars=150000,
    replacement_time_in_years=3)