In [1]:
from pandas import DataFrame

In [3]:
# Check whether we can replace columns
table = DataFrame([[1, 2, 3], [4, 5, 6]], columns=['a', 'b', 'c'])
table

   a  b  c
0  1  2  3
1  4  5  6

In [4]:
table['b'] = [10, 14]

In [5]:
table

   a   b  c
0  1  10  3
1  4  14  6

In [6]:
from tempfile import mkstemp

In [7]:
mkstemp?